body {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: $bgColor;
    overflow: hidden;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    min-height: 320px;
}
svg, section {
    width: 100%;
    height: auto;
}
.svgContainer {
    width: 96%;
    max-width: 700px;
    margin: 20px auto;
}