body {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: $bgColor;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
}
svg, section {
    width: 100%;
}
svg {
    position: fixed;
    bottom: 10%;
    max-width: 96%;
}