.code {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 1em auto;
}
li {
    font-size: 1.55em;
    color: $iconColor;
}
i {
    padding-top: 0.2em;
}
.ABbutton {
    display: inline-block;
    position: relative;
    padding: 0 0.5em;
    font-size: 0.6em;
    &::after {
        content: '';
        position: absolute;
        border: 3px solid $iconColor;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        left: 50%;
        top: 55%;
        transform: translate(-50%,-50%);
    }
}
.wrong {
    color: $iconWrong;
    .ABbutton::after {
        border-color: $iconWrong;
    }
}
.right {
    color: $iconRight;
    .ABbutton::after {
        border-color: $iconRight;
    }
}