html { font-size: 62.5%; }
body {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 2rem;
    color: $iconColor;
}
h1, h2, button,
.countUp, .again {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    text-transform: uppercase;
    transform: scaleX(80%);
}
h1 {
    font-size: 1.8em;
    padding: 1em 0;
}
h2 {
    font-size: 1.4em;
    padding-bottom: 0.8em;
}
.modalContent ol {
    font-size: 1rem;
}
.countUp {
    transform: scaleX(100%);
    font-size: 1.4em;
    padding: 0.8em 0 0.5em;
}
table {
    text-transform: capitalize;
}